*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: calc(100vh - 25vh);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 100;
    box-shadow:  0.5px 2px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar a{
    font-size: 18px;
    color: #383838;
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    padding: 8px;
}
.navbar a:hover{
    background-color: #0c645b;
    color: white;
}
.navbar a.active{
    background: #0c645b;
    color: #fff;
}
.icons{
    position: absolute;
    right: 7%;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
}
#check{
    display: none;
}
.heading{
    padding-top: 6em;
    padding-bottom: 2em;
    color: #0c645b;
    text-align: center;
}

.blog-section{
    width: 100%;
}
.blog-layout{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.blog-layout div{
    width: 25%;
    line-height: 25px;
}
.blog-layout div img.blog{
    width: 100%;
    height: 50%;
    padding-bottom: 30px;
}
a.blog-title{
    text-decoration: none;
    color: #383838;
    padding-bottom: 20px;
    font-weight: bold;
}
div span.date{
    font-weight: 300;
    margin-bottom: 20px;
    color: #5b5b5b;
}
.blog-layout div p{
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a.read-more{
    text-decoration: none;
    padding: 8px;
    margin-top: 30px;
    border: 1px solid #383838;
}
a.read-more:hover{
    background-color: #0c645b;
    color: #fff;
}
footer{
    background: #0f5346;
    width: 100%;
    height: 27vh;  
}
.icons-layout{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
}
.hr, .left-hr{
    border: 1px solid white;
    width: 35%;
}
.icons-container{
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: #fff;
}
.icons-container a{
    color: #fff;
}
.next-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.next-container{
    padding-bottom: 18px;
}
.next-container img{
    width: 160px;
    height: 35px;
}
.next-container p{
    color: #fff;
}
.privacy-container{
    display: flex;
    justify-content : center;
    bottom: 0;
    padding-bottom: 10px;
}
.privacy-container ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.privacy-container a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.vr1{
    border-right: 1px solid white;
    height: 20px;
    width: 0;
}
ul li.footer{
    display: flex;
    gap: 10px;
}
@media only screen and (max-device-width: 430px){
    .icons{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        transition: .3s ease;
        overflow: hidden;
    }
    .navbar a{
        display: block;
        font-size: 25px;
        margin: 12px 0;
        text-align: center;
    }
    #check:checked~.icons #menu-icon{
        display: block;
    }
    #check:checked~.navbar{
        height: 22em;
    }
    .blog-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 15px;
    }
    .blog-layout div{
        width: 100%;
    }
    .blog-layout img{
        width: 100%;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .vr1{
        display: none;
    }
    .privacy-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-device-width : 820px){
    header{
        width: 100%;
        padding: 0;
    }
    .navbar a{
        margin: 8px;
    }
    .blog-section{
        padding-bottom: 7em;
        font-size: 18px;
    }
    footer{
        bottom: 0;
        left: 0;
    }
}