:root{
    --error-color : #e74c3c;
    --success-color: #008000;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 100;
    box-shadow:  0.5px 2px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar a{
    font-size: 18px;
    color: #383838;
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    padding: 8px;
}
.navbar a:hover{
    background-color: #0c645b;
    color: white;
}
.navbar a.active{
    background: #0c645b;
    color: #fff;
}
.icons{
    position: absolute;
    right: 7%;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
}
#check{
    display: none;
}
.contact-container{
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.heading{
    border: 0px solid white;
    background-image: url(../images/Rectangle\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 18em;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 20px;
}
p.max-p{
    font-size: 40px;
    font-weight: 500;
}
p.min-p{
    font-size: 35px;
}
.heading h3{
    color: #0c645b;
    background: #fff;
    margin-top: 30px;
    font-size: 20px;
    padding: 8px 32px;
}
.form{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom:30px;
    position: relative;
}
.user-container{
    display: flex;
    gap: 30px;
}
.form-control input{
    border: 2px solid #b7b7b7;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 15px;
}
textarea{
    width: 100vh;
    padding: 10px;
    font-size: 15px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form-control .error{
    border-color: var(--error-color);
}
.form-control small{
    color: var(--error-color);
    position: absolute;
    left: 0;
    visibility: hidden;
    font-weight: 500;
    font-size: 15px;
}
.form-control.error small{
    visibility: visible;
}
.form-control.success small{
    color: #008000;
    visibility: visible;
}
.form button{
    cursor: pointer;
    background-color: #0c645b;
    color: white;
    display: block;
    font-size:  15px;
    padding: 10px 32px;
    margin-top: 20px;
    width: 20%;
    border: 0px solid black;
    border-radius: 10px;
    margin-left: 32%;
    float: right;
}
.form button:hover{
    background: #052d29;
}
.form span{
    margin-left: 32%;
    padding: 8px;
}
.successful{
    display: block;
    text-align: center;
    padding-left: 32%;
    color: #0c645b;
    visibility: hidden;
}
.success .display{
    visibility: var(--success-color);
}
footer{
    margin-top: 60px;
    left: 0;
    bottom: 0;
    background: #0f5346;
    width: 100%;
}
.icons-layout{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
}
.hr, .left-hr{
    border: 1px solid white;
    width: 35%;
}
.icons-container{
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: #fff;
}
.icons-container a{
    color: #fff;
}
.next-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.next-container{
    padding-bottom: 18px;
}
.next-container img{
    width: 160px;
    height: 35px;
}
.next-container p{
    color: #fff;
}
.privacy-container{
    display: flex;
    justify-content : center;
    bottom: 0;
    padding-bottom: 10px;
}
.privacy-container ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.privacy-container a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.vr1{
    border-right: 1px solid white;
    height: 20px;
    width: 0;
}
ul li.footer{
    display: flex;
    gap: 10px;
}

@media only screen and (max-device-width: 430px){
    .icons{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        transition: .3s ease;
        overflow: hidden;
    }
    .navbar a{
        display: block;
        font-size: 25px;
        margin: 12px 0;
        text-align: center;
    }
    #check:checked~.icons #menu-icon{
        display: block;
    }
    #check:checked~.navbar{
        height: 22em;
    }
    .heading{
        width: 100%;
        background-size: cover;
        background-position: center;
        font-size: 18px;
    }
    p.max-p{
        font-size: 30px;
        padding-bottom: 20px;
        font-weight: 500;
    }
    p.min-p{
        font-size: 25px;
        padding-bottom: 25px;
    }
    .contact-container{
        width: 100%;
        display: flex;
    }
    .contact-section{
        width: 100%;
        padding: 20px;
    }
    form .user-info{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .user-info .inp-name{
        border: 1px solid #7c7c7c;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-info .contact-n{
        border: 1px solid #7c7c7c;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-info .email-container{
        border: 1px solid #7c7c7c;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .textarea{
        width: 100%;
        padding-top: 10px;
    }
    textarea{
        width: 100%;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .vr1{
        display: none;
    }
    .privacy-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-device-width : 820px){
    header{
        width: 100%;
        padding: 0;
    }
    .navbar a{
        margin: 8px;
    }
    .contact-container{
        width: 100%;
    }
    .contact-section form{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #656565;
    }
    form .user-info{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .user-info .inp-name{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
    }
    .user-info .contact-n{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
    }
    .user-info .email-container{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
    }
    footer{
        bottom: 0;
        left: 0;
    }
}