*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal
}
body{
    width: 100%;
}
header{
    border: 0px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    z-index: 10;
    box-shadow:  0.5px 2px rgba(0, 0, 0, 0.1);
}
.left-container{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.left-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.right-container{
    width: auto;
}
.hidden{
    display: none;
}
.right-container ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}
.right-container ul li{
    padding: 0px 10px;
}

.right-container a{
    text-decoration: none;
    color: #383838;
    padding: 8px;
}
.right-container a:hover{
    background-color: #0c645b;
    color: white;
}
.right-container a.active{
    background: #0c645b;
    color: #fff;
}

.heading{
    padding-top: 6em;
    color: #0c645b;
    text-align: center;
}
.portifolio-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.br-architect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding-bottom: 50px;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    font-size: 16px;
    line-height: 30px;
}
.images{
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: space-evenly;
}
.images img{
    width: 100%;
}
.par{
    width: 60%;
    display: flex;
    justify-content: center;
}
.img-descr{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.p-descr{
    width: 30%;
}
.p-descr p{
    line-height: 25px;
}
footer{
    margin-top: 60px;
    left: 0;
    bottom: 0;
    background: #0f5346;
    width: 100%;
}
.icons-layout{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
}
.hr, .left-hr{
    border: 1px solid white;
    width: 35%;
}
.icons-container{
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: #fff;
}

.next-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.next-container{
    padding-bottom: 18px;
}
.next-container img{
    width: 160px;
    height: 35px;
}
.next-container p{
    color: #fff;
}
.privacy-container{
    display: flex;
    justify-content : center;
    bottom: 0;
    padding-bottom: 10px;
}
.privacy-container ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.privacy-container a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.vr1{
    border-right: 1px solid white;
    height: 20px;
    width: 0;
}
ul li.footer{
    display: flex;
    gap: 10px;
}
@media only screen and (max-device-width: 430px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
        display: flex;
    }
    .right-container{
        display: none;
    }
    body{
        width: 100%;
    }
    header{
        width: 100%;
        display: flex;
    }
    .right-container{
        display: none;
    }
    .hidden{
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-align: start;
    }
    .hidden ul, .hidden li{
        margin: 0;
        padding: 0;
    }
    .hidden ul{
        list-style-type: none;
        width: 100%;
        background: #fff;
        z-index: 10;
        padding: 8px 32px;
    }
    .hidden li{
        float: left;
        position: relative;
        width: 100%;
        background: #fff;
    }
    .hidden a{
        border: 0px solid black;
        background: #fff;
        color: #383838;
        display: block;
        font-size: 18px;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        transition: all 0.25s ease;
    }
    .hidden li a:hover{
        background: #0c645b;
        color: white;
    }
    .drop-down{
        border: 0px solid black ;
        right: 16px;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        z-index: 1;
        border-radius: 12px;
        padding: 10px;
        
    }
    li:hover ul.drop-down{
        opacity: 1;
        top: 60px;
        visibility: visible;
        background-color: #fff;
        width: 100%;
        padding: 8px 32px;
    }
    .fa-bars{
        font-size: 30px;
        width: 50px;
    }
    .portifolio-container{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .br-architect{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .img,.web-images{
        width: 100%;
        padding-bottom: 30px;
        font-size: 18px;
    }
    .img img, .web-images img{
        width: 100%;
    }
    .images{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .images img{
        width: 100%;
    }
    .par{
        width: 100%;
    }
    .img-descr{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .p-descr{
        width: 100%;
    }
    .img-descr img{
        width: 100%;
    }
    .myweb{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .web-descr p, .img-descr p{
        width: 100%;
    }
    .port4{
        position: absolute;
        left: 50px;
        top: 40px;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .vr1{
        display: none;
    }
    .privacy-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-device-width : 820px){
    body{
        width: 100%;
    }
    .left-container{
        width: 100px;
    }
    .right-container ul{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding-inline: 5px;
    }
    .portifolio-container{
        padding: 0 40px;
    }
    .br-architect{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;
        padding-bottom: 50px;
    }
    .img, .web-images{
        position: relative;
        width: 100%;
    }
    .img img,.web-images img{
        width: 100%;
    }
    .overlap{
        position: absolute;
        top: 50px;
        left: 50px;
        font-weight: 100;
        
    }
    .web-images{
        position: relative;
        width: 80%;
    }
    .web-descr{
        padding-right: 20px;
    }
    .web-descr p.demonstration,.img-descr p.demonstration{
        width: 100%;
    }
    footer{
        bottom: 0;
        left: 0;
    }
}