*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: calc(100vh - 25vh);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 100;
    box-shadow:  0.5px 2px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar a{
    font-size: 18px;
    color: #383838;
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    padding: 8px;
}
.navbar a:hover{
    background-color: #0c645b;
    color: white;
}
.navbar a.active{
    background: #0c645b;
    color: #fff;
}
.icons{
    position: absolute;
    right: 7%;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
}
#check{
    display: none;
}
.heading{
    padding-top: 6em;
    color: #0c645b;
    text-align: center;
}
.portifolio-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.br-architect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding-bottom: 50px;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    font-size: 16px;
    line-height: 30px;
}
.images{
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: space-evenly;
}
.images img{
    width: 100%;
}
.par{
    width: 60%;
    display: flex;
    justify-content: center;
}
.img-descr{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.p-descr{
    width: 30%;
}
.p-descr p{
    line-height: 25px;
}
footer{
    background: #0f5346;
    width: 100%;
    height: 27vh;
}
.icons-layout{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
}
.hr, .left-hr{
    border: 1px solid white;
    width: 35%;
}
.icons-container{
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: #fff;
}

.next-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.next-container{
    padding-bottom: 18px;
}
.next-container img{
    width: 160px;
    height: 35px;
}
.next-container p{
    color: #fff;
}
.privacy-container{
    display: flex;
    justify-content : center;
    bottom: 0;
    padding-bottom: 10px;
}
.privacy-container ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.privacy-container a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.vr1{
    border-right: 1px solid white;
    height: 20px;
    width: 0;
}
ul li.footer{
    display: flex;
    gap: 10px;
}
@media only screen and (max-device-width: 430px){
    .icons{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        transition: .3s ease;
        overflow: hidden;
    }
    .navbar a{
        display: block;
        font-size: 25px;
        margin: 12px 0;
        text-align: center;
    }
    #check:checked~.icons #menu-icon{
        display: block;
    }
    #check:checked~.navbar{
        height: 22em;
    }
    .portifolio-container{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .br-architect{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .img,.web-images{
        width: 100%;
        padding-bottom: 30px;
        font-size: 18px;
    }
    .img img, .web-images img{
        width: 100%;
    }
    .images{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .images img{
        width: 100%;
    }
    .par{
        width: 100%;
    }
    .img-descr{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .p-descr{
        width: 100%;
    }
    .img-descr img{
        width: 100%;
    }
    .myweb{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .web-descr p, .img-descr p{
        width: 100%;
    }
    .port4{
        position: absolute;
        left: 50px;
        top: 40px;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .vr1{
        display: none;
    }
    .privacy-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-device-width : 820px){
    header{
        width: 100%;
        padding: 0;
    }
    .navbar a{
        margin: 8px;
    }
    .portifolio-container{
        padding: 0 40px;
    }
    .br-architect{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;
        padding-bottom: 50px;
    }
    .img, .web-images{
        position: relative;
        width: 100%;
    }
    .img img,.web-images img{
        width: 100%;
    }
    .overlap{
        position: absolute;
        top: 50px;
        left: 50px;
        font-weight: 100;
        
    }
    .web-images{
        position: relative;
        width: 80%;
    }
    .web-descr{
        padding-right: 20px;
    }
    .web-descr p.demonstration,.img-descr p.demonstration{
        width: 100%;
    }
    footer{
        bottom: 0;
        left: 0;
    }
}