*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: calc(100vh - 25vh);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 100;
    box-shadow:  0.5px 2px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar a{
    font-size: 18px;
    color: #383838;
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    padding: 8px;
}
.navbar a:hover{
    background-color: #0c645b;
    color: white;
}
.navbar a.active{
    background: #0c645b;
    color: #fff;
}
.icons{
    position: absolute;
    right: 7%;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
}
#check{
    display: none;
}
.heading{
    padding: 4em 0;
    color: #0c645b;
    text-align: center;
}
.skills-container{
    padding-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.skills-layout{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.skills-layout div{
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.html{
    width: 100%;
    padding: 30px 0;
}
.html img{
    width: 30%;
}
.css{
    width: 100%;
    padding: 30px 0;
}
.css img{
    width: 30%;
}
.js{
    width: 80%;
    padding: 30px 0;
}
.js img{
    width: 30%;
}
.js p, .css p, .computer-network p, .html p, .figma p{
    width: 50%;
    line-height: 30px;
    font-size: 20px;
}
.figma{
    width: 80%;
    padding: 30px;
}
.figma img{
    width: 30%;
}
.computer-network{
    width: 100%;
    padding: 30px 0;
}

footer{
    background: #0f5346;
    width: 100%;
    height: 27vh;
}
.icons-layout{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 8px 10%;
    margin-bottom: 20px;
}
.hr, .left-hr{
    border: 1px solid white;
    width: 35%;
}
.icons-container{
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: #fff;
}
.icons-container a{
    color: #fff;
}
.next-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 18px;
}

.next-container img{
    width: 160px;
    height: 35px;
}
.next-container p{
    color: #fff;
}
.privacy-container{
    display: flex;
    justify-content : center;
    bottom: 0;
    padding: 10px 0;
}
.privacy-container ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.privacy-container a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.vr1{
    border-right: 1px solid white;
    height: 20px;
    width: 0;
}
ul li.footer{
    display: flex;
    gap: 10px;
}
@media only screen and (max-device-width: 430px){
    .icons{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        transition: .3s ease;
        overflow: hidden;
    }
    .navbar a{
        display: block;
        font-size: 25px;
        margin: 12px 0;
        text-align: center;
    }
    #check:checked~.icons #menu-icon{
        display: block;
    }
    #check:checked~.navbar{
        height: 22em;
    }
    .heading{
        font-size: 25px;
    }
    .skills-container{
        width: 100%;
    }
    .skills-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .skills-layout div{
        width: 100%;
    }
    .html img, .css img, .js img, .figma img, .computer-network img{
        width: 100%;
        padding: 0 20px;
    }
    .html p, .css p, .js p, .figma p, .computer-network p{
        width: 100%;
        padding: 0 20px;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .vr1{
        display: none;
    }
    .privacy-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-device-width : 820px){
    header{
        width: 100%;
        padding: 0;
    }
    .navbar a{
        margin: 8px;
    }
    .skills-container{
        width: 100%;
    }
    .skills-layout{
        display: flex;
        gap: 10px;
        width: 100%;
    }
    .br-architect div{
        width: 30%;
        display: flex;
    }
    .html img, .figma img, .computer-network img{
        width: 80%;
    }
    .css img{
        width: 70%;
    }
    .js img{
        width: 60%;
    }
    .js p, .css p, .computer-network p, .html p, .figma p{
        width: 80%;
        line-height: 30px;
        font-size: 20px;
    }
    footer{
        bottom: 0;
        left: 0;
    }
}